@media (max-width: 46.1875em){
    #nav {
        display: block;
    }
    #nav >li:first-child{
        display: inline-block;
    }
    #nav >li{
        display: block;}
    #nav li a {
        padding: 1px 21px;
    }
    #nav .subnav {
        position:initial;
        background-color: #333;
        
    }
    #nav .subnav a {
        color:#fff;
        padding: 5px 41px;
    }
    #header {
        overflow: hidden;
    }

     #header .mobile-menu-btn{
         display: block;
     }
        
    #header .search-btn {
    display: none;
    }
    
    #content .menber-img {
        width: 60%;
    }
    .s-col-full {
        width: 100% !important;
    }
    .contact-form {
        margin-top: 32px;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    .s-full-width {
        width: 100%;
    }
}
@media (max-width:63.9375em )
{
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }
    .contact-info {
        line-height: 2;
    }
    .contact-submit-btn{
        font-size: 17px;
    }
    .socials-list a {
        margin: 0px 8px;
        font-size: 30px;
    }
    #footer .copyright  {
        padding: 12px 0;
        display: inline-block;
        font-size: 24px;
       
    }
    #nav .subnav a {
        padding: 5px 12px;
    }
}
